/* --- FORM HEADER ---------------------------------------------------------- */

.header {
  background: var(--color-grey-6);
}

.logo-container {
  width: clamp(0rem, 100vw, 155rem);
  margin: 0 auto;
  padding: 2.5rem;
}

.header-logo {
  height: 100%;
  width: auto;
}