@charset "UTF-8";
@import url('./layout.css');
@import url('./fonts.css');

@import url('./components/formHeader.css');
@import url('./components/formTitle.css');
@import url('./components/formFooter.css');

@import url('./components/noticeBanners.css');
@import url('./components/noticePanels.css');

@import url('./components/coreElements.css');
@import url('./components/buttons.css');

@import url('./components/accordion.css');

@import url('./components/customDate.css');
@import url('./components/customSearch.css');

:root {
  /* ----- COLOURS ---------------------------------------------------------- */

  /* <-- green ------ */
  --color-primary: #007c53;
  /* <-- pink ------- */
  --color-secondary: #cc3399;

  /* <-- green ------ */
  --color-success: #007c53;
  /* <-- red -------- */
  --color-error: #db0000;
  /* <-- yellow ----- */
  --color-warning: #ffcc00;
  /* <-- blue ------- */
  --color-information: #007aff;

  /* <-- grey scale - */
  --color-white: #ffffff;
  --color-grey-1: #f6f6f6;
  --color-grey-2: #eeeeee;
  --color-grey-3: #e0e0e0;
  --color-grey-4: #cccccc;
  --color-grey-5: #6b6b6b;
  --color-grey-6: #222222;
  --color-black: #000000;

  /* ----- FONTS ------------------------------------------------------------ */
  --font-heaning: Wayfarer, Helvetica, Geneva, Sans-Serif;

  --font-size-h1: 5rem;
  --font-height-h1: 8rem;

  --font-size-h2: 3rem;
  --font-height-h2: 4.8rem;

  --font-size-h3: 2.5rem;
  --font-height-h3: 4rem;

  --font-size-h4: 2.2rem;
  --font-height-h4: 3.5rem;

  --font-paragraph: Open Sans, Trebuchet MS, Lucida Grande, Geneva, Sans-Serif;

  --font-size-p1: 1.6rem;
  --font-height-p1: 2.2rem;

  --font-size-p2: 1.4rem;
  --font-height-p2: 2rem;

  --font-size-p3: 1.3rem;
  --font-height-p3: 1.7rem;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  --font-icon: icomoon;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-warning);
  color: var(--color-black);
}

html {
  /* --- Setting rem to = 10px --- */
  font-size: 62.5%;
  user-select: text;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 32rem;
  min-height: 100vh;
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-paragraph);
  color: var(--color-black);
  background: var(--color-white);
}






#dform_container .selected-address-container {
  width: 100%;
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-semibold);
}